<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserProfile</title>
</head>

@Html.Partial("_NavBarPartial")

<body>
    <div>
        This is the user profile page
        YEA
    </div>
</body>
</html>
