@using MVC_OnlineShop.Models
@using System.Web.Optimization
@model Product

@{
    var cartItem = ViewBag.cart;
}

<div>
    <h3>Shopping Cart</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
        @foreach (var product in Session[ "cart" ] as List<Product>) { 
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td><img src=@product.Image_Url width="60" /> </td>
                <td>@product.Price</td>
            </tr>
        }
    </table>

    <br /><br />
    <h2><a href="/Shop/ViewBill">Purchase</a></h2>
</div>