
@{
    ViewBag.name = "TV";
}

@Html.Partial("_bannerPartial")
@Html.Partial("_ProductsView")

<div class="navigation text-center">
    <div class="pagination">
        <!--<span>Page 1 of 4</span-->
        <a href='~/Shop/Page2' class='btn btn-primary'>Previous</a>

        <a href='~/Shop/Page1' class="inactive">1</a>
        <a href='~/Shop/Page2' class="inactive">2</a>
        <span class="current">3</span>
        <a href='~/Shop/Page4' class="inactive">4</a>

        <a href='~/Shop/Page4' class='btn btn-primary'>Next</a>
        <!--<a href='~/Shop/Page4' class='btn btn-primary'>Next &rsaquo;</a>-->
        <!--<a href='~/Shop/Page4'>Last &raquo;</a>-->
    </div>
</div>

