
@{
    ViewBag.name = "TV";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Styles.Render("~/Content/css")
    <title></title>
</head>
<body>
    @Html.Partial("_bannerPartial")
    @Html.Partial("_ProductsView")

    <div class="navigation">
        <div class="pagination">
            <span>Page 3 of 4</span>
            <a href='~/Shop/Page1' class="inactive">1</a>
            <a href='~/Shop/Page2' class="inactive">2</a>
            <span class="current">3</span>
            <a href='~/Shop/Page4' class="inactive">4</a>
            <a href='~/Shop/Page4'>Next &rsaquo;</a>
            <a href='~/Shop/Page2'>Last &raquo;</a>
        </div>
    </div>
</body>
</html>

