@model IEnumerable<MVC_OnlineShop.Models.Product>

@{
    ViewBag.Title = "Index";
    var item = ViewBag.ProductType;
}

@Html.Partial("_bannerPartial")

<div class="container text-center">
    <div class="row align-items-start" align="center">
        @foreach (var pList in Model) {
            <div class="col-sm-3 img-resizing" >
                <img src=@pList.Image_Url class="card-img-top img-fluid border-top border-right border-left rounded-top" alt="Product">
                <div class="card-body border-bottom border-right border-left rounded-bottom">
                    <h4 class="card-title">@pList.Name</h4>
                    <h5 class="card-title">$@pList.Price</h5>
                    <div class="d-flex justify-content-center" style="margin: 0px -20px;">
                        @Html.ActionLink("More Details", "Product", "Shop", new { Id = pList.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Add To Cart", "AddToCart", new { Id = pList.Id }, new { @class = "btn btn-success btnAddToCart" })
                    </div>
                </div>
            </div>
        }
    </div>

</div>

@*<script>
    $("#myLink").click(function (e) {

        e.preventDefault();
        $.ajax({

            url: $(this).attr("href"),
            success: function () {
                alert("Value Added");
            }

        });

    });
</script>*@