@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Welcome to the Alpha Shop</h2>

    <div class="row align-items-start">
        <div class="col-sm">
            <div class="col-form-label">Test Label</div>
        </div>


        <div class="col-sm">
            <div class="col-form-label">Test Label</div>
        </div>


        <div class="col-sm">
            <div class="col-form-label">Test Label</div>
        </div>


        <div class="col-sm">
            <div class="col-form-label">Test Label</div>
        </div>
    </div>

</div>