
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBill</title>
</head>
<body>
    <div> 
        <h1>View Bill</h1>
        <h1>Enter Credit Card and Stuff?</h1>
    </div>
</body>
</html>
