<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Company Name -->
        <!--@Html.RouteLink("Alpha Website", "Index", "Home", new { @class = "navbar-brand" })-->
        <!--Navigation links that will collapse on small window & mobile version-->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <!--Main NavBar-->
            <div class="flex-row">
                <!--Left of navigation bar-->
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 float-sm-left">

                    <!-- Company Name -->
                    @Html.RouteLink("Alpha Website", "Index", "Home", new { @class = "navbar-brand" })

                    <!--Home-->
                    <li class="nav-item">
                        @Html.RouteLink("Home", "Index", "Home", new { @class = "nav-link" })
                    </li>

                    <!--Shop link with its category drop down links-->
                    @Html.Partial("_ShopDropDown")
                </ul>

                <!--Right side of the navigation bar-->
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
</nav>

