@using MVC_OnlineShop.Models
@model MVC_OnlineShop.Models.Product

<div class="container-fluid bg-3 text-center">
    <div class="row">

        @foreach (var pList in ViewData["productList"] as List<Product>)
            {
                <div class="col-sm-4">
                    <img src="https://i.ibb.co/vLzkmgg/comp.jpg" class="card-img-top" alt="Product">
                    <div class="card-body">
                        <h4 class="card-title">@pList.Name</h4>
                        <h5 class="card-title">$@pList.Price</h5>
                        @Html.ActionLink("More Details", "Product", "Shop", new { Id = pList.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Add To Cart", "Shop", "Cart", new { Id = pList.Id }, new { @class = "btn btn-success" })
                    </div>
                </div>
                
            }
    </div>
</div>
