<div class="fixed-top" style="top:65px;">
    <div class="container">
        <!--Sub NavBar-->
        <div class="flex-row">
            <!--Search Bar-->
            <form class="form-inline my-2 mt-lg-0 float-sm-right">
                <input class="form-control mr-sm-2 search-bar" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

