<!--Shopping Cart-->
<li class="nav-item">
    <a href="@Url.Action("CartView", "Shop")" class="nav-link">
        <span class="fa fa-shopping-cart" style="color:blue"></span>
        Cart <span class="cart-count" id="cartCount">@Session[ "count" ]</span>

    </a>
</li>
