<li class="nav-link">
    <a href="@Url.Action("Cart", "Shop")" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-shopping-cart" style="color:blue"></span>
        Cart <span class="cart-count">@Session[ "count" ]</span>
    </a>
</li>
