body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Style fix for logout buton with user have javascript disabled */
#logoutForm input[type="submit"],
#logoutForm input[type="button"],
#logoutForm button {
    background-color: #d3dce0;
    color: #333;
    border: none;
    border: 0px;
    font-size: 1em;
    font-weight: 400;
    margin: -4px 3px -4px 10px;
    padding: 2px 3px;
    text-decoration: none;
    font-family: inherit;
    outline: medium none;
}

/* Hack for fixing images in shop page */
.col-sm-3.img-resizing img {
    max-height: 150px !important;
    min-height: 150px !important;
}

/* Fixing spacing for product blocks */
.col-sm-3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* More Info & Add To Cart Button Style Fix*/
.col-sm-3 .d-flex a {
    padding: 5px 10px;
    margin: 0px 5px;
}

/*Fix profile image size on navigation bar*/
.nav-link i.fa.fa-user-circle {
    font-size: 30px;
}

/*Fix location & alignment of profile image on navigation bar*/
.nav-link img.img-thumbnail,
.nav-link i.fa.fa-user-circle {
    max-height: 50px;
    display: -webkit-inline-box;
    position: absolute;
    display: inline-block;
    margin-left: 4px;
}
.nav-link img.img-thumbnail {
    top: 3px;
}
.nav-link i.fa.fa-user-circle {
    top: 8px;
}
li.nav-item.loggedUsername {
    margin: 0 40px 0 0;
}

/*
 * By default, Bootstrap 4 uses 'flex' for navbars, but doesn't actually add
 * the required 'flex-flow' by default. This will ensure we get the expected
 * results for a main NavBAr and Sub NavBar
*/
.navbar-collapse {
    flex-flow: row wrap;
}

/*
 * We will also ned to add a customize css to generate the 'flex-direction for
 * our rows, and specifiy that they should occupy 100% of the width of the flex.
*/
.flex-row {
    flex-direction: row;
    width: 100%;
}

/*Apply background color around search bar*/
.searchBar-background-color {
    background-color: #f8f9fa !important;
    padding: 10px;
    margin-right: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: right;
}

/*Align the search bar right under the navigation bar*/
.searchBar-top-location {
    top: 48px !important;
}

/*Enable hover over dropdown for shop link*/
.dropdown:hover>.dropdown-menu {
    display: block;
}

/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/*******************************  Mobile CSS  *******************************************/
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/
@media (max-width: 992px) {
    /*Remove avatar from nav dropdown list*/
    .nav-link i.fa.fa-user-circle, .nav-link img.img-thumbnail {
        display: none;
    }
}

@media (max-width: 576px) {
    /*Center searchBar on smaller screens*/
    .searchBar-background-color {
        float: none !important;
        justify-content: center;
    }

    /*Fix spacing for searchbar button*/
    .searchBar-top-location button {
        margin-left: 5px;
        top: 40px !important;
    }
}


@media (min-width: 576px) {
    /* Style fix for logout buton with user have javascript disabled */
    #login input[type="submit"],
    #login input[type="button"],
    #login button {
        background: none;
        color: #999;
        border: none;
        border: 0px;
        font-size: 1em;
        font-weight: 600;
        margin: -4px 3px -4px 6px;
        padding: 0;
        text-decoration: none;
        font-family: inherit;
        outline: medium none;
    }
}

@media (min-width: 768px) {
    /* Style fix for logout buton with user have javascript disabled */
    #login input[type="submit"],
    #login input[type="button"],
    #login button {
        background: none;
        color: #999;
        border: none;
        border: 0px;
        font-size: 1em;
        font-weight: 600;
        margin: -4px 3px -4px 6px;
        padding: 0;
        text-decoration: none;
        font-family: inherit;
        outline: medium none;
    }
}

@media (min-width: 992px) {
    /* Style fix for logout buton with user have javascript disabled */
    #login input[type="submit"],
    #login input[type="button"],
    #login button {
        background: none;
        color: #999;
        border: none;
        border: 0px;
        font-size: 1em;
        font-weight: 600;
        margin: -4px 3px -4px 6px;
        padding: 0;
        text-decoration: none;
        font-family: inherit;
        outline: medium none;
    }
}

@media (min-width: 1200px) {
    /* Style fix for logout buton with user have javascript disabled */
    #login input[type="submit"],
    #login input[type="button"],
    #login button {
        background: none;
        color: #999;
        border: none;
        border: 0px;
        font-size: 1em;
        font-weight: 600;
        margin: -4px 3px -4px 6px;
        padding: 0;
        text-decoration: none;
        font-family: inherit;
        outline: medium none;
    }

}
